on:
  schedule:
    - cron: '30 02 * * *'
  workflow_dispatch:
permissions:
  actions: write
  contents: read
jobs:
  sign-job:
    name: sign-job-name
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: install tg-signer
      run: |
        pip3 install tg-signer
    - name: sign
      env:
        SESSION_STRING: ${{ secrets.SESSION_STRING }}
        TASK_MAP: ${{ secrets.TASK_MAP }}
      run: |
        echo "$TASK_MAP" | jq -r 'to_entries[] | "\(.key)\t\(.value | tojson)"' | while IFS=$'\t' read -r key value_json; do
            task_path=".signer/signs/${key}"
            mkdir -p ${task_path}
            config_name="${task_path}/config.json"
            echo "$value_json" | jq . > "$config_name"
            tg-signer --session-string "$SESSION_STRING" run-once ${key}
        done
    - name: 拉取代码
      uses: actions/checkout@v4
      with:
        persist-credentials: true
    - name: 自动续命Actions(防止60天禁用action)
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git commit --allow-empty -m "auto keep actions alive (no code change)"
        git push origin main